html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1670b7;
}
img {
  width: 100%;
}
h2 {
  font-size: 1.8rem;
  color: #222;
  padding: 0;
  margin: 0;
}

p {
  font-size: 1.2rem;
  color: #999;
  padding: 0.5rem 0 0;
  margin: 0;
}
